/*#test {
  color: red;
}*/

* {
  font-family: sans-serif;
  /*background-image: url('https://i.imgur.com/9ESGUa0.jpg');
  background-size: cover;*/
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*background-image: url('https://i.imgur.com/9ESGUa0.jpg');
  background-size: cover;*/
  /*margin: 0 auto;*/
  background-color: Teal;
}

#gameplay {
  /*background-color: AntiqueWhite;*/
  padding: 1em;
  margin: 0 2em 1em 2em;
  flex-grow: 2;
  flex-direction: column;
}

.board {
  /*background-color: LightCoral;*/
  background-color: rgb(152, 148, 255);
  border: solid 1px black;
  text-align: center;
  font-size: 30px;
  padding: 1em .5em;
  margin: .5em 13em;
  border-radius: 12px;
}

.cards-in-play {
  /*background-color: Indigo;*/
  /*font-size: 60px;*/
  /*margin: .8em .5em;*/
  margin: auto;
}

.score {
  /*background-color: LightSkyBlue;*/
  /*margin: .5em 3em;*/
  margin-left: auto;
}

#action-btns {
  /*background-color: SteelBlue;*/
  display: flex;
  margin: 1em 5em;
  flex-wrap: wrap;
}

.btn {
  /*background-color: SteelBlue;*/
  background-color: rgb(79, 78, 181);
  text-align: center;
  flex-grow: 1;
  margin: 1em 4em;
  font-size: 20px;
  border-radius: 10px;
  border: solid 1px black;
}

#player-chips {
  /*background-color: Thistle;*/
  display: flex;
  margin: 3em 12em;
}

.chips {
  background-color: MediumSeaGreen;
  padding: 2em;
  flex-grow: 1;
  margin: 4em;
  border: 1px dotted black;
  text-align: center;
  border-radius: 10px;
  /*font-size:*/
}

#house-rules {
  background-color: MediumVioletRed;
  font-size: 36px;
  text-align: center;
}

.wallet {
  border-style: dotted;
  padding: 1em;
  margin: auto;
  border-radius: 10px;
}

.cards-in-play img {
  max-width: 18%;
  max-height: 18%;
}

#pool {
  border-style: dotted;
  padding: 1em;
  margin: auto;
  border-radius: 10px;
}

#game-status {
  text-align: center;
  /*background-color: Thistle;*/
  margin: 3em 5em;
  padding: 2em;
  border-radius: 10px;
}

#modal {
	background-color: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 350px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#openModal {
  border-style: dotted;
  padding: 1em;
  margin: auto;
  border-radius: 10px;
}
