/*#test {
  color: red;
}*/

* {
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  background-color: Teal;
}

#gameplay {
  background-color: AntiqueWhite;
  padding: 1em;
  margin: 0 2em 1em 2em;
  flex-grow: 2;
  flex-direction: column;
}

.board {
  background-color: LightCoral;
  border: solid 1px black;
  text-align: center;
  font-size: 30px;
  padding: 1em .5em;
  margin: .5em 10em;
}

.cards-in-play {
  background-color: Indigo;
  /*font-size: 60px;*/
  margin: .8em .5em;


}

.score {
  background-color: LightSkyBlue;
  /*margin: .5em 3em;*/
  margin-left: auto;
}

#house-cards {
  background-color: GoldenRod;
}

#player-cards {
  background-color: MediumPurple;
}

#action-btns {
  background-color: SteelBlue;
  display: flex;
  margin: 1em 5em;
  flex-wrap: wrap;
}

.btn {
  background-color: RosyBrown;
  text-align: center;
  flex-grow: 1;
  margin: 1em 4em;
  font-size: 20px;
}

#player-chips {
  background-color: Thistle;
  display: flex;
  margin: 3em 12em;
}

.chips {
  background-color: MediumSeaGreen;
  padding: 2em;
  flex-grow: 1;
  margin: 4em;
  border: 1px dotted black;
  text-align: center;
  /*font-size:*/
}

#house-rules {
  background-color: MediumVioletRed;
  font-size: 36px;
  text-align: center;
  /*padding: 8px;*/
}

#wallet {
  background-color: blue;
  flex-grow: 1;
}

.cards-in-play img {
  max-width: 18%;
  max-height: 18%;
}
